@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~react-image-gallery/styles/css/image-gallery.css";

.product-card {
  img {
    width: 100px;
  }
}

.image-gallery-image {
  height: 200px;
  // max-height: 200px;
}

.image-gallery.fullscreen-modal {
  display: flex;
  background-color: rgba(0%, 0%, 0%, 0.5);
  .image-gallery-content.fullscreen {
    background-color: white;
    top: unset;
    transform: unset;
    margin: auto;
    width: 50%;
    .image-gallery-image {
      height: auto !important;
      max-height: calc(60vh - 80px);
    }
    .image-gallery-slide-wrapper {
      height: 60vh;
      padding: 30px 20px;
    }
  }
}
.image-gallery-icon:focus {
  outline: none;
}

.image-gallery-icon.image-gallery-right-nav,
.image-gallery-icon.image-gallery-left-nav {
  svg {
    height: 60px !important;
    width: 30px !important;
  }
}

.image-gallery-icon.image-gallery-fullscreen-button {
  svg {
    height: 18px !important;
    width: 18px !important;
  }
}
