body {
    margin: 0;
}

.min-vh-100 {
    min-height: 100vh;
}

.height-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

html,
body {
    height: 100%;
}

@import "./components/editor.scss"